<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="es.keensoft.fullscreenimage"
    version="1.0.1">

    <name>Full Screen Image</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <author>keensoft (http://keensoft.es/)</author>
    <description>Show image in full screen mode with native components.</description>
    <keywords>cordova, image, spanish, fullscreen, photos, keensoft, gallery</keywords>

    <license>MIT</license>

    <js-module src="www/fullscreenimage.js" name="FullScreenImage">
        <clobbers target="window.FullScreenImage" />
    </js-module>

    <!-- ios -->
     <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FullScreenImage">
                <param name="ios-package" value="FullScreenImage" />
            </feature>
        </config-file>
        <header-file src="src/ios/FullScreenImage.h" />
        <source-file src="src/ios/FullScreenImage.m" />
         <header-file src="src/ios/NSData+Base64.h" />
         <source-file src="src/ios/NSData+Base64.m" />
    </platform>

	<!-- Android -->
 	<platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="FullScreenImage">
                <param name="android-package" value="es.keensoft.fullscreenimage.FullScreenImage" />
            </feature>
        </config-file>
         <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/FullScreenImage.java" target-dir="src/es/keensoft/fullscreenimage" />
    </platform>
    
</plugin>
