<ion-view view-title="About Us..">
    <ion-content class="padding" ng-controller="MapCtrl">

        <div class="list card">

            <div class="item item-avatar">
                <img src="img/keensoft.png">
                <h2>kensoft</h2>
                <p>Mobile ideas ;)</p>
            </div>

            <div class="item item-image" >
                    <div id="map"></div>

            </div>

            <a class="item item-icon-left assertive" href="http://www.keensoft.es/">
                <i class="icon ion-ios7-world-outline"></i>
                Website
            </a>
            <a class="item item-icon-left assertive" href="mailto:info@keensoft.es">
                <i class="icon ion-ios7-email-outline"></i>
                Email
            </a>

        </div>

    </ion-content>

</ion-view>