<ion-view view-title="Dashboard">
  <ion-content class="padding">


      <div class="list card">

          <div class="item item-avatar">
              <img ng-src="data:image/gif;base64,{{imageBase64GIF}}">
              <h2>Open Base64 Image (GIF)</h2>
              <p>Use "FullScreenImage.showImageBase64(base64,name,type)"</p>
          </div>

          <div class="item item-image">
              <img ng-src="data:image/gif;base64,{{imageBase64GIF}}">
          </div>

          <a class="item item-icon-left assertive" href="#" ng-click="openImageB64(imageBase64GIF,'','gif')">
              <i class="icon ion-arrow-expand"></i>
              Show base64 image
          </a>

      </div>

      <div class="list card">

          <div class="item item-avatar">
              <img ng-src="data:image/png;base64,{{imageBase64}}">
              <h2>Open Base64 Image (PNG)</h2>
              <p>Use "FullScreenImage.showImageBase64(base64,name,type)"</p>
          </div>

          <div class="item item-image">
              <img ng-src="data:image/png;base64,{{imageBase64}}">
          </div>

          <a class="item item-icon-left assertive" href="#" ng-click="openImageB64(imageBase64,'','png')">
              <i class="icon ion-arrow-expand"></i>
              Show base64 image
          </a>

      </div>

      <div class="list card">

          <div class="item item-avatar">
              <img ng-src="data:image/jpeg;base64,{{imageBase64JPEG}}">
              <h2>Open Base64 Image (JPG)</h2>
              <p>Use "FullScreenImage.showImageBase64(base64,name,type)"</p>
          </div>

          <div class="item item-image">
              <img ng-src="data:image/jpeg;base64,{{imageBase64JPEG}}">
          </div>

          <a class="item item-icon-left assertive" href="#" ng-click="openImageB64(imageBase64JPEG,'','jpg')">
              <i class="icon ion-arrow-expand"></i>
              Show base64 image
          </a>

      </div>

      <div class="list card">

          <div class="item item-avatar">
              <img ng-src="{{imageUrlPath}}">
              <h2>Open Url Path Image</h2>
              <p>Use "FullScreenImage.showImageUrl(url)"</p>
          </div>

          <div class="item item-image">
              <img ng-src="{{imageUrlPath}}">
          </div>

          <a class="item item-icon-left assertive" href="#" ng-click="openImageUrl(imageUrlPath)">
              <i class="icon ion-arrow-expand"></i>
              Show URL Path image
          </a>

      </div>

      <div class="list card">

          <div class="item item-avatar">
              <img ng-src="{{imageUrlPathJPEG}}">
              <h2>Open Url Path Image (JPG)</h2>
              <p>Use "FullScreenImage.showImageUrl(url)"</p>
          </div>

          <div class="item item-image">
              <img ng-src="{{imageUrlPathJPEG}}">
          </div>

          <a class="item item-icon-left assertive" href="#" ng-click="openImageUrl(imageUrlPathJPEG)">
              <i class="icon ion-arrow-expand"></i>
              Show URL Path image
          </a>

      </div>

  </ion-content>
</ion-view>
